* {
  padding: 0;
  margin: 0;
}


body, html, #root, .container {
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.visualizer-container {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  margin-top: 50px;


  border-radius: 15px;
  

  
}
.array-container {
  margin-top: 100px;
  
}


.array-value {
  
  width: 2px;
  display: inline-block;
  background-color: lightseagreen;
  margin-right: 2px;



  
  
}